@font-face {
   font-family: "ErikaOrmig";
   src: url("../assets/Erika Ormig.ttf");
   font-weight: bold;
}





.flex,
.flex-row-center
{
   display: flex;
   flex-flow: row;
   justify-content:center;
   flex-direction: row;
}
.flex-row-right
{
   display: flex;
   flex-flow: row;
   justify-content: end;
   flex-direction: row;
}
.flex-row-left
{
   display: flex;
   flex-flow: row;
   justify-content: left;
   flex-direction: row; 
}
.flex-col-center
{
   display: flex;
   flex-flow: column;
   justify-content: center;
   flex-direction: column;
}
.flex-col-right
{
   display: flex;
   flex-flow: column;
   justify-content: right;
   flex-direction: column;
}
.flex-col-left
{
   display: flex;
   flex-flow: column;
   justify-content: left;
   flex-direction: column;
}
.input,
.input-small
{
   width: 100px;
}
.text,
text-big
{
   font-size: 50px;
}
.body
{
background-image: url("../assets/OldPaper.jpg");
font-family: "ErikaOrmig";

}

