<section class="body">
<form class="{{cssClass}}" autocomplete="off">
   {{!-- Header --}}

  <header class="sheet-header">
    
    
    <div class="flexcol">
      <div class="item-row-center">
        <label class="item-header">Name</label>
      </div>
      <div class="flexrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </div>
      <label class="item-header">Description</label>
      
    </div>
      
   
  </header>
  
</form>
{{editor system.item.base.description target="system.item.base.description" button=true owner=owner editable=editable}}
</section>
